<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

<context-param>
<param-name>developer</param-name>
<param-value>acm-unit</param-value>
</context-param>

<servlet>
<servlet-name>controlServlet</servlet-name>
<servlet-class>controllers.HomeController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>controlServlet</servlet-name>
<url-pattern>*.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HomeController</servlet-name>
<servlet-class>controllers.HomeController
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HomeController</servlet-name>
<url-pattern>/home.php</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AutoController</servlet-name>
<servlet-class>controllers.AutoController
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AutoController</servlet-name>
<url-pattern>/auto.php</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServiceController</servlet-name>
<servlet-class>controllers.ServiceController
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServiceController</servlet-name>
<url-pattern>/service.php</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServicesController</servlet-name>
<servlet-class>controllers.ServicesController
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServicesController</servlet-name>
<url-pattern>/services.php</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Page5Controller</servlet-name>
<servlet-class>controllers.OurAutoCenterController
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Page5Controller</servlet-name>
<url-pattern>/page5.php</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Page6Controller</servlet-name>
<servlet-class>controllers.Page6Controller
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Page6Controller</servlet-name>
<url-pattern>/page6.php</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Page7Controller</servlet-name>
<servlet-class>controllers.Page7Controller
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Page7Controller</servlet-name>
<url-pattern>/page7.php</url-pattern>
</servlet-mapping>
</web-app>
